<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Home page</h1>
<p>Hello </p>

<p th:text="${name}"></p>
<p th:text="${salary}"></p>

<ul>
    <li th:each="person : ${people}" >
        <span th:text="${person.name}"></span>
        <span th:text="${person.gender.equals('M')?'Nam' : 'Nữ'}"></span>
        <span th:if="${person.age >= 18}" > Trên 18 tuổi </span>
        <span th:if="${person.age < 18 }"> Dưới 18 tuổi </span>

    </li>
</ul>

<h2>Danh sách User</h2>
<form>
    <input placeholder="Enter name...." name ="keyword" />
</form>
<hr />

<table>

    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="person : ${people}">
        <td th:text="${person.id}">ID</td>
        <td th:text="${person.name}">Name</td>
        <td th:text="${person.gender}">Gender</td>
        <td th:text="${person.age}">Age</td>
        <td>
            <a href="'/person/' + ${person.id}">Xem chi tiết</a>
        </td>
    </tr>
    </tbody>

</table>

<h2>Hello world</h2>

<script th:src="@{/js/main.js}"></script>

</body>
</html>